<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/movie.css" %}">
  </head>
  <body>
    <div class="container" align="center">
      <div class="jumbotron">
        <h1>Ravinder Movies</h1>
        <p>up to date movies information...</p>
        <a class="btn btn-primary" href="/addmovie" role="button">Add Movie</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <a class="btn btn-primary" href="/movielist" role="button">Movies List</a>
      </div>

    </div>

  </body>
</html>
